<form action="" method="POST">
    <div class="form-row">
        <div class="form-item">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="email" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>