<h2 class="page-header">Register</h2> 
<form method="POST" action="/register">
    <%- include('_forms_fields') %>
    <div class="form-row">
        <div class="form-item">
            <label>Status</label>
            <select name="status">
                <% if(user.status === 'Manager') { %> 
                    <option value="Employee" selected="true">Employee</option>
                <% } else if(user.status === 'Owner') { %>
                    <option value="Manager">Manager</option>
                    <option value="Employee" selected="true">Employee</option>
                <% } %> 
            </select>
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>

<br>

<% if (messages.error) { %>
    <div class="error-message"><%= messages.error %></div>
<% } %> 