<form action="" method="POST">
    <div class="form-row">
        <div class="form-item">
            <label for="password">New Password</label>
            <input type="password" name="password" placeholder="New Password" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update Password</button>
</form>